@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    border: none;
    outline: none;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background: #1E1E1E;
}
.continer{
    max-width: 1320px;

    margin-left: auto;
    margin-right: auto;
    padding-right: 20px;
    padding-left: 20px;
}
.inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}